<div class="header">
  <div class="container">
    <div class="header-left">
      <%= image_tag("kbl_logo2.png") %>
    </div>
    <div class="header-right">
      <%= link_to"Activities",activities_path %>
      <%= link_to"Contact",contact_path %>
      <%= link_to"About us",about_path %>
      <%= link_to"Access",access_path %>
      <%= link_to"Log in",login_path %>
    </div>
  </div>
</div>
<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
