<div class="header">
  <div class="container">
    <div class="header">
      <div class="header-logo">
        <%= image_tag("kbl_logo2.png") %>
      </div>
      <div class="header-right">
        <ul>
          <li><%= link_to"Activities",activities_path %></li>
          <li><%= link_to"Contact",contact_path %></li>
          <li><%= link_to"About us",about_path %></li>
          <li><%= link_to"Access",access_path %></li>
          <li><%= link_to"Log in",login_path %></li>
       </ul>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <div class="title">
    <h1>Keio Badminton Lovers!</h1>
  </div>
  <div>
    <h3>Contact</h3>
    <p>#</p>
  </div>
</div>
